@charset "utf-8"

/*GRID LINE CODING*/
.col-1{
	width: 8.33%;
}
.col-2{
	width: 16.66%;
}
.col-3{
	width: 25%;
}
.col-4{
	width:33.33%; 
}
.col-5{
	width: 41.66%;
}
.col-6{
	width: 50%;
}
.col-7{
	width: 58.33%;
}
.col-8{
	width: 66.66%;
}
.col-9{
	width: 75%;
}
.col-10{
	width:83.33%; 
}
.col-11{
	width: 91.66%;
}
.col-12{
	width: 100%;
}

/*END GRID LINE CODING*/

*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	text-decoration: none;
}

body{
	/*background: linear-gradient(to left, red, blue, green, brown);*/
	/*background: linear-gradient(to right top, red, blue, green, brown);*/
	padding: 0;
	margin: 0;
}

header,footer,section,nav{
	border: solid 2px red;
	float: left;
}

header{
	height: 200px;
	padding:50px;
	margin: 0;
	background: yellow;
	font-size: 40px;
}
nav{
	height:auto;
	padding: 0;
	margin: 0;
	background: orange;
}
section{
	height: 600px;
	padding: 0;
	margin: 0;
	background: yellow;
}
h2{
	color:red;
	text-align: center;
	font-size: 30px;
}
footer{
	height: 50px;
	padding: 0;
	margin: 0;
	background: black;
}
h5{
	color: white;
	text-align: center;
	padding: 15px;
}

ul{
	list-style: none;
	width: 100%;
}
li{
	display: inline-block;
	width: 100%
	height: 50px;
	text-align: center;
	background: pink;
	padding: 12px;
}
a{
	color: white;
	font-size: 20px;
}

.col-2:hover{
	border-radius: 20px;
	background:red;
}

/*MOBILE RESPONSIVE*/

@media only screen and (max-width: 767px)
{

header{
	height: 80px;
	font-size: 20px;
	padding-top: 15px;
}
.col-2{
	display: block;
	width: 100%;
	height: 50px;
}
ul{
	width: 100%;
}
li{
	background: blue;
}

.col-2:hover{
	
	border-radius: 20px;
}




}

/*MOBILE RESPONSIVE*/


/*TABLETE RESPONSIVE*/
@media only screen and (min-width: 768px) and (max-width: 992px)
{
	header{
		height: 130px;
		color: red;
		font-size: 30px;
		padding: 20px;
	}
	nav{
		height: auto;
	}

	.col-2{
		height:auto;
		width: 49.70%;
		margin-bottom: 3px;
	}
	.last{
		width: 100%;
		height: auto;
		margin: 0;
	}








}

/*TABLETE RESPONSIVE*/


